@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:ital,wght@1,500&display=swap');

* { 
    margin:0 ; 
    padding: 0; 
    border: none; 

}

body { 
    min-height: 100vh;
    font-family: Lato , sans-serif; 
    font-weight: 500px;

}
/*header and navigation links*/ 

#main-menu { 
    font-family: Playfair Display, sans-serif;
}

#main-menu li { 
    list-style: none;
    float: right; 
    padding-right: 15px; 
    font-family: Lato, sans-serif;
}
/*content home page */ 

#content1 { 
    height: 30vh;
    background-color: aqua;
}

#content2 { 
    height: 60vh; 
    background-color: bisque;
}

/* footer */

.social-links { 
    height: 15vh; 
    background-color: aquamarine;
}

