@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:ital,wght@1,500&display=swap');

* { 
    margin:0 ; 
    padding: 0; 
    border: none; 

}

body { 
    min-height: 100vh;
    font-family: Lato , sans-serif; 
}
/*header and navigation links*/ 

h1 { 
    font-family: Playfair Display, sans-serif;
}

#main-menu { 
    height:21px;
}

#main-menu li { 
    list-style: none;
    float: right; 
    padding-right: 15px; 
    font-family: Lato, sans-serif;
}

#main-menu a:link { 
    text-decoration: none;
    color:black
    
}

#main-menu a:active { 
    text-transform: uppercase;
}

#main-menu a:hover { 
    text-decoration: underline;
}
/*content home page */ 

.content1 { 
    height: 30vh;
    background-color: #9bc2bc;
    text-align: center;
    padding-top:30px;
    
}

#title { 
    padding-bottom: 9px; 
}

.call_to_action { 
    padding-top: 15px; 
    text-transform: uppercase;
    text-shadow:2px 2px 8px #172c46 ;
}

.call_to_action a:link { 
    text-decoration: none;
}

.call_to_action a:hover { 
    text-decoration: underline;
}

/* content2 */ 

.content2 { 
    height: 60vh; 
    background-color: #9bc2bc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content2_photo {
    position: relative;
    height: inherit;
}

#sarah { 
    text-align: left;
    font-style: italic;
    padding-left: 15px;
    padding-right: 15px; 
}

#read_review { 
    text-align: center;
    padding-top: 15px; 
}

h4 { 
    font-weight: bold;
    text-align: center;
}
/* footer */

.social-links { 
    height: 15vh; 
    background-color: #7b96b7;
}

