@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:ital,wght@1,500&display=swap');

* { 
    margin:0 ; 
    padding: 0; 
    border: none; 

}

body { 
    min-height: 100vh;
    font-family: Lato , sans-serif; 
    color: #24657d; 
}

/*header and navigation links*/ 

h1 { 
    font-family: Playfair Display, sans-serif;
    color: #24657d; 
    margin-left: 3px;
   
}

#main-menu { 
    height:21px;
}

#main-menu li { 
    list-style-type: none;
    float: right; 
    padding-right: 15px; 
    font-family: Lato, sans-serif;
}

#main-menu a { 
    color:#24657d; 
    font-weight: bold;
    text-decoration: none;


}

#main-menu a:hover { 
    background-color: black; 
}


/*content home page */ 

.content1 { 
    height: 30vh;
    background-color: #9bc2bc;
    text-align: center;
    padding-top:30px;
    
    
}

#title { 
    padding-bottom: 9px; 
}

.call_to_action { 
    color:#24657d;
    padding-top: 15px; 
    text-transform: uppercase;
    font-weight: bold;
    text-shadow:6px 6px 12px #172c46 ;
    text-align: center;
}

.call_to_action a { 
    color:#24657d; 
}

.call_to_action a:link { 
    text-decoration: none;
    color:#24657d; 
}

.call_to_action a:hover { 
   background-color: white;
}

/* content2 */ 

.content2 { 
    height: 60vh; 
    background-color: #9bc2bc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content2_photo {
   width: fit-content;
   height: 210px; 
   padding-right: 12px; 

}

#sarah { 
    text-align: left;
    font-style: italic;
    padding-left: 15px;
    padding-right: 15px; 
}

#read_review { 
    text-align: center;
    padding-top: 15px; 
}

#read-review , a { 
    color:#24657d; 
    text-decoration: none;
    font-weight: bold; 
}

#read-review , a:hover { 
    background-color: white;
}

h4 { 
    font-weight: bold;
    text-align: center;
}
/* footer */

footer { 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}
#external-links { 
    color: white; 
    background-color: #24657d;
    text-align: left;
    padding-left: 15px; 
    list-style-type: none;

}

#external-links a {
    color:white; 
}

#external-links a:hover { 
    background-color: black;
}

/* our services page */ 

#plan-overview { 
   background-color: beige;
   height: 30vh; 
   position: relative;
}
#woman_beach { 
    height: 30vh; 
    width: 100%;
    opacity: 0.5;
    
}

#cover_plan { 
    position: absolute; 
    top: 36px;
    left: 21px;
    right: 21px; 
    color: #24657d; 
    text-align:center;
    font-family: Playfair Display, sans-serif;
    font-weight: bold;
    font-style: italic;
}


#plan1 { 
    background-color: #9bc2bc;
}

#plan2 { 
    background-color: #9bc2bc ;
}

#plan3 { 
    background-color:  #9bc2bc;
}
#plan4 { 
    background-color:  #9bc2bc;
}

.plan-type { 
    text-align: center; 
    background-color: #9bc2bc;
    padding: 21px; 
    
}

fieldset {
    background-color: #eeeeee;
  }
  
legend {
    background-color: #9bc2bc;
    color: #24657d;
    padding: 0px 12px 21px 12px;
    border-style: outset;
  }


/* review page */ 



#marie { 
    background-color: blue;
}